<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saribulantech">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SariBulanTech">
        <activity
            android:name=".HapusDataTransaksi"
            android:exported="false" />
        <activity
            android:name=".LihatDataTransaksi"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LihatDataBahan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HapusDataBahan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateDataBahan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HapusDataInventory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LihatDataInventory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuBahan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuInventory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuTransaksi"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TambahDataBahan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TambahDataInventory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateDataInventory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>